@import '../ScssVariables.scss';

$gridColumnSize: auto;

.Categories_container {
   display: flex;
   justify-content: center;
   margin: 100px 0;

   .Categories_Header, .HPC_Title {
      font-family: $TitleFontFamily;
   }

   .Categories_container2 {

      .Categories_UpperPart {
         display: flex;
         justify-content: space-between;
         padding-bottom: 20px;

         .Categories_Header {
            color: $orangeColor;
         }
         .Categories_Select {
            outline: none;
            color: $greenColor;
            border: $orangeColor 1px solid;
            border-radius: 10px;
            background: white;
            font-size: 15px;

            option {
               background: white;
               outline: none;
            }
         }
      }
      .Categories_CategoryList {
         display: grid;
         grid-template-columns: $gridColumnSize $gridColumnSize $gridColumnSize $gridColumnSize;

         .HPCategoryCard {
            display: flex;
            border-radius: 10px;
            width: 300px;
            height: 100px;
            cursor: pointer;
            transition: 0.5s;

            &:not(:last-child) {
               margin-right: 20px;
            }

            &:hover{
               width: 310px;
               height: 110px;

               .HPC_TextPart {
                  width: 210px;
               }

               .HPC_ImagePart {
                  img {
                     width: 110px;
                  }
               }

            }
            .HPC_TextPart {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               padding: 20px;
               width: 200px;

               .HPC_Title, p{
                  color: white;
               }

               .HPC_Title {
                  font-size: 22px;
               }

            }
            .HPC_ImagePart {
               img {
                  display: flex;
                  width: 100px;
                  border-radius: 120px 10px 10px 0;
                  transition: 0.5s;
               }
            }
         }
      }
   }
}

.hide {
   display: none;
}

