@import "../ScssVariables.scss";

.BCcontainer {
   display: flex;
   justify-content: center;

   h1 {
      font-family: $TitleFontFamily2;
   }

   h2 {
      font-family: $TitleFontFamily;
   }

   h4, p, a {
      font-family: $textFontFamily;
   }

   .BCcontainer2 {
      border-radius: 10px;
      border: $orangeColor 1px solid;
      padding: 0 3rem 3rem 3rem;
   }

   .HeaderTitle {
      margin: 2.4rem 0 2.4rem 1.2rem;
      color: $orangeColor;
      font-size: 45px;
   }

   .blogCardDivision {
      display: flex;
      border-radius: 10px;
      border: $orangeColor 1px solid;
      height: 16rem;
      width: 64rem;

      &:not(:last-child) {
         margin-bottom: 30px;
      }


      .blogCardimage {
         img {
            width: 21.1rem;
            border-radius: 10px 0 0 10px;
         }
      }

      .blogCardTextPart {
         padding: 0 1.2rem;

         .blogCardtitle {
            padding-top: 0.8rem;
            margin-bottom: 2.2rem;
            color: $orangeColor;
         }

         .blogCardText {
            width: 40rem;
            margin-bottom: 2.5rem;
            overflow: hidden;
            color: black;
         }

         .blogCardBtn {
            outline: none;
            border: none;
            background: $orangeColor;
            color: white;
            padding: 5px 20px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;

            &:hover {
               background-color: $orangeColor2;
            }
         }
      }
   }
   @media (max-width: 1280px) {
      .blogCardDivision {
         display: flex;
         border-radius: 10px;
         border: $orangeColor 1px solid;
         height: 14rem;
         width: 44rem;

         &:not(:last-child) {
            margin-bottom: 30px;
         }


         .blogCardimage {
            img {
               width: 18.5rem;
               border-radius: 10px 0 0 10px;
            }
         }

         .blogCardTextPart {
            display: flex;
            padding: 0 1.2rem;
            flex-direction: column;

            .blogCardtitle {
               display: flex;
               font-size: 1.2rem;
               padding-top: 0.4rem;
               margin-bottom: 1rem;
               color: $orangeColor;
            }

            .blogCardText {
               width: 25rem;
               margin-bottom: 0.8rem;
               overflow: hidden;
               color: black;
            }

            .blogCardBtn {
               outline: none;
               border: none;
               background: $orangeColor;
               color: white;
               padding: 5px 20px;
               cursor: pointer;
               font-size: 16px;
               border-radius: 5px;
               width: 8rem;

               &:hover {
                  background-color: $orangeColor2;
               }
            }
         }
      }

   }
}