@import '../components/ScssVariables.scss';


.CardPayment_container {
   position: absolute;
   background-image: linear-gradient(
                   115deg,
                   rgba(14, 14, 14, 0.638),
                   rgba(14, 14, 14, 0.659)
   ),
   url(../../images/Frutera/original/background1.PNG);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;

   h1 {
      font-family: $TitleFontFamily;
   }

   h3 {
      font-family: $TitleFontFamily2;
      text-transform: uppercase;
   }

   button, .CardPayment_Form, input {
      font-family: $textFontFamily;
   }

   .CardPayment_container2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 5px;
      background: white;
      height: 500px;
      width: 380px;
      margin-top: 100px;
      padding: 10px;

      .CardPayment_UpperPart {
         margin: 15px;
         display: flex;
         justify-content: center;

         button {
            outline: none;
            border: $orangeColor 1px solid;
            border-radius: 10px;
            background-color: white;
            transition: 0.2s;
            cursor: pointer;

            &:not(:last-child) {
               margin-right: 20px;
            }

            &:hover {
               background-color: #ffc7ad;
            }
            img {
               width: 60px;
               margin: 5px;
            }
         }

      }

      .CardPayment_Form {
         display: flex;
         justify-content: center;

         .CardPayment_Form_container {
            width: 100%;
            padding: 10px;
         }

         h3 {
            padding-bottom: 10px;
         }

         input {
            outline: none;
            padding-left: 10px;
            height: 40px;
            border-radius: 4px;
            border: $orangeColor 1px solid;
         }

         .CardPayment_Form_UpperPart {
            display: flex;
            justify-content: space-between;

            input {
               width: 200px;
            }
         }

         .CP_MoreStyle {
            input {
               width: 90px;
            }
         }

         .CardPayment_Form_MiddlePart {
            display: flex;
            margin: 30px 0;

            .CardPayment_Form_components {
               width: 100%;

               input {
                  width: 100%;
               }
            }
         }

         .CardPayment_Form_LowerPart {
            .CardPayment_Form_components {
               display: flex;
               justify-content: space-between;
               height: 40px;

               select {
                  border: $Oframe;
                  background: none;
                  border-radius: 3px;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  cursor: pointer;
               }

               .CardPayment_Form_components_SelectDay {
                  width: 60px;
               }
               .CardPayment_Form_components_SelectMonth {
                  width: 120px;
               }
               .CardPayment_Form_components_SelectYear {
                  width: 80px;
               }
            }
         }
      }

      .CardPayment_LowerPart {
         margin: 15px;
         .CardPayment_Confirm {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: $orangeColor;
            color: white;
            border-radius: 10px;
            font-size: 20px;
            cursor: pointer;

            &:hover {
               background-color: $orangeColor2;
            }
         }
      }
   }
}